VITE_API_BASE_URL=https://example.execute-api.ap-south-1.amazonaws.com/dev/api/v1

VITE_SITE_DOMAIN=https://example.com

VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_DOMAIN=
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_COGNITO_LOGOUT_URI=http://localhost:5173